// フォントサイズの指定
// @include font-size(16);
@mixin font-size($size, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}

// リンクカラーの指定
// @include link-color(#345fc9);
@mixin link-color($color) {
     color: $color;

     &:hover, &:active, &:focus {
         color: lighten($color, 20%);
     }
}

// position:absolute;
// @include absolute-top-left(20px, 30px);
@mixin absolute-top-left($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin absolute-top-right($top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}
@mixin absolute-bottom-left($bottom: 0, $left: 0) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}
@mixin absolute-bottom-right($bottom: 0, $right: 0) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

// border-radius
// @include border-radius(10);
// @include border-radius-per(100%);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius + px;
     -moz-border-radius: $radius + px;
          border-radius: $radius + px;
}
@mixin border-radius-per($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// box-shadow
// @include box-shadow(10px, 10px, 0px, 0px, #000);
@mixin box-shadow($horizontal: 10px, $vertical: 10px, $blur: 0px, $shadow: 0px, $color: #000000){
  -webkit-box-shadow: $horizontal $vertical $blur $shadow $color;
  -moz-box-shadow: $horizontal $vertical $blur $shadow $color;
  box-shadow: $horizontal $vertical $blur $shadow $color;
}

// clearfix
@mixin clearfix{
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ボックスの真ん中に配置
@mixin middle-line($height){
    height: $height + px;
    line-height: $height + px;
}

@mixin pointer {
    &:hover {
        cursor: pointer;
    }
}
