/* ---------- リセット ---------- */
* {
	margin: 0;
	color: #333333;
	padding: 0;
	font-size: 16px;
	list-style: none;
	text-decoration: none;
	line-height: 1.7em;
	border: none;
	font-family: serif;
	font-weight: normal;
	box-sizing: border-box;
	letter-spacing: 0.1em;
}
html,body {
	width: 100%;
}
h1 {
	font-size: 1.2em;
}
h2 {
	font-size: 1.1em;
}
input {
	border-radius: 0;
}
